body {
    background-color: aliceblue;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: cornflowerblue;
}

p > b{
    color: darkorange;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* pseudo-element example */
p::first-letter{
    text-transform: capitalize;
    font-size: 1.5em;
}

/*reverse display order */
ol.movies{
    display: flex;
    flex-direction: column-reverse;
}

li > a{
    color: blue;
    text-decoration: none;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-transform: lowercase;
}

/* put underline in hyperlink when mouse over */
a:hover{
    text-decoration: underline;
}

.mood {
    color: deepskyblue;
}